.well {
  background-color: white;
}

#myFooter {
  background: #222222;
  color: #eee;
  font-size: 11px;
  padding: 20px;
  margin-top: 10px;
}

.navbar-brand {
  padding-left: 70px;
}

.main {
  min-height: 555px;
}

.hidden {
  display: none;
}

ul {
	list-style-type: none;
}

#new-answer-button {
  padding: 1em;
  width: 100%;
  /*max-width: 60%;*/
}

#new-comment-form-button {
	padding: .8em;
}

#inputQuestion {
	margin-bottom: 15px;
}

