.arrow-up {
  border-bottom: 10px solid #6083bc;
  border-top: 10px solid transparent;
}

.arrow-down {
  border-top: 10px solid #6083bc;
  border-bottom: 10px solid transparent;
}

.show-question-title {
  display: inline-block;
  max-width: 850px;
  margin-left: 15px;
}

.index-question-title {
  font-size: 20px;
}

.question-content {
  margin-left: 50px;
  margin-bottom: 30px
}

.vote-button {
  width: 0;
  height: 0;
  padding: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background: transparent;
}

.small-button {
  border-width: 7px;
}

.vote-count {
  height: 25px;
  margin-bottom: 5px;
  text-align: center;
  cursor: default;
}

.comment-vote-count {
  font-size: 10px;
  margin-top: -12px;
  margin-left: -6px;
  margin-bottom: 0px;
  height: 10px;
  text-align: center;
}

.upvote {
  border-bottom-color: #76c463;
}

.downvote {
  border-top-color: #c55050;
}

.wrap-vote-button {
  width: 20px;
  height: 50px;
  display: inline-block;
  float: left;
  margin-top: 15px;
}


