<% errors = object.errors.messages %>
<% unless errors.empty? %>
  <ul class="errors">
  <% errors.each do |error| %>

    <li class='input<%= error.first.to_s.capitalize %>'><%= error.join(' ').capitalize %></li>
  <% end %>
  </ul>
<% end %>
