<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h6>Copypile &copy; 2017 KAIWA</h6>
      </div>
      <div class="col-sm-6">
        <h6>About Pile Excess</h6>
        <p>
          Pile Excess is a place for you to ask some questions and get some answers. You can contemplate asking questions by listening to this great classic by <a href="https://www.youtube.com/watch?v=QmBLSGy6g58" target="_blank"> Peter, Paul and Mary</a>.
        </p>
      </div>
      <div class="col-sm-2">
        <h6>Navigation</h6>
        <ul class="list-unstyled">
          <li><a href="/">home</a></li>
          <li><a href="/user/<%= session_user_id %>">profile</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by KAIWA</h6>
      </div>
    </div>
  </div>
</footer>
