  <div class="popup-login-form popup-form">
    <h2 class='popup-header'>Log In</h2>
    <button class="cancel-button" id="new_user_cancel">&#9447;</button>
    <div id='popup-flash'></div>
    <form id='login-form' class="form-horizontal" action='/login' method='POST'>
      <div class='responses'>
        <div class="form-group">
          <input class="form-control" id="login_username" name="username" type="text" placeholder="Username">
        </div>

        <div class="side-margins form-group">
          <input class="form-control" id="login_password" name="password" type="password" placeholder="Password">
        </div>
      </div>
      <div class='form-buttons text-center'>
        <button class="btn login-button" id="new_user_submit" type="submit">Login</button>
      </div>
    </form>
  </div>
