<div class="container-fullwidth" id="main">
  <nav class="navbar navbar-inverse" style="border-radius:0px;" >
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/garbage.png" alt="logo" height="100" width="100")></a>
        <ul class="nav navbar-nav pull-right nav-menu">
          <% if session_user_id %>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span><strong> <%= User.find_by_id(session_user_id).username %></strong> <strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href='/'><span class="glyphicon glyphicon-home"></span> home</a>
                  </li>
                  <li>
                    <a href="/user/<%= session_user_id %>"><span class="glyphicon glyphicon-wrench"></span> profile</a>
                  </li>
                  <li>
                    <a href="/questions/new"><span class="glyphicon glyphicon-question-sign"></span> submit question</a>
                  </li>
                  <li>
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> logout</a>
                  </li>
                </ul>
            </li>
          <% else %>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <strong>my account</strong> <strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href='/'><span class="glyphicon glyphicon-home"></span> home</a>
                </li>
                <li class="login-list-item">
                  <a href="/login"><span class="glyphicon glyphicon-log-in"></span> login</a>
                </li>
                <li class="register-list-item">
                  <a href="/user/new"><span class="glyphicon glyphicon-save"></span> register</a>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
</div>
