<div class="comment-form">
  <form id="new-comment-form" action='/answers/<%= @answer.id %>/new' method='post'>
    <textarea name="content" rows="5" cols="50" placeholder="Comment here"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
