<div>REGISTER</div>

<%= erb :'partials/_errors', locals: { object: @user } %>

<form action='/user' method='POST'>
  <input id="register_username" name="user[username]" type="text" placeholder="Username" value="<%= @user.try(:username) %>">
  <input id="register_password" name="user[password]" type="password" placeholder="Password">
  <input id="new_user_submit" type="submit" value="Submit">
</form>
