
<% @questions.each do |question| %>
  <div class="question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></div>
  <%#= question.votes.count %>
  <%#= question.answers.count %>
<%end%>

