<div class="container">
<!--   <div class="apple_pagination">
    <%= will_paginate @questions %>
  </div> -->
  <% @questions.each do |question| %>
		<hr>
    <h2 class="index-question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
    <%#= question.votes.count %>
    <%#= question.answers.count %>
  <%end%>
  <hr>
  <div class="apple_pagination">
    <%= will_paginate @questions %>
  </div>
</div>
