<div class="container">
  <ul>
    <% @questions.each do |question| %>
      <li class="index-question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
      <%#= question.votes.count %>
      <%#= question.answers.count %>
    <%end%>    
  </ul>
</div>
