<span>I am the index</span>
<% @questions.each do |question|%>
 <div>
  <h2><a href="/questions/<%= question.id %>"><%=question.title%></a></h2>
  <p><%=question.content%></p>
  <p>VOTE COUNT:<%=question.vote_count%></p>
 </div>
<%end%>

