<div class="container">
  <% @questions.each do |question| %>
    <h2 class="index-question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
    <%#= question.votes.count %>
    <%#= question.answers.count %>
  <%end%>
</div>
