<div class="container">
  <% @questions.each do |question| %>
		<hr>
    <h2 class="index-question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
  <%end%>
  <hr>
  <div class="apple_pagination">
    <%= will_paginate @questions %>
  </div>
</div>
