<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/application_klg.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src='/js/bootstrap-confirmation.js'></script>
  <script src="/js/new-response.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/popup-form.js"></script>
  <script src="/js/vote.js"></script>
  <script src="/js/error-messages.js"></script>

  <title>Pile Excess</title>
  <link rel="icon" href="/garbage.ico">
</head>
<body>
  <div id='main-wrapper'>
    <div class="navbar" id='navbar-static-top'>
      <%= erb :"partials/_navbar"%>
      <div class="container">
        <div class="well">
          <h1>Pile Excess</h1>
        </div>
      </div>
    </div>
    <div id="event-listener" class="main container">
      <%= yield %>
    </div>
    <%= erb :"partials/_footer"%>
  </div>
</body>
</html>
